@model FeaturesViewModel

<section id="@Model.Id" class="features">
	<div class="container">
		<h1>What do you get with our tool?</h1>
		<p>Make sure your tasks are organized so you can set the priorities and focus on important.</p>
		<div class="tool-features">
			@if (Model.Features != null) 
			{ 
				@foreach(var feature in Model.Features)
				{
					<div class="feature">
						<img src="@feature.ImageUrl" alt="@feature.AltText" />
						<h5>@feature.ImageTitle</h5>
						<p>@feature.ImageText</p>
					</div>
				}
			}
		</div>
	</div>
</section>
